/* 基础重置与全局 */
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #101010;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
* {
  -webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
@media (-moz-touch-enabled: 0), (pointer: fine) {
  a {
    -webkit-transition: color 0.12s;
    -o-transition: color 0.12s;
    -moz-transition: color 0.12s;
    transition: color 0.12s;
  }
  a:hover {
    color: #ff3b7d;
  }
}
a:active {
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
  color: #d40047;
}

/* 标题 */
h1 {
  font-size: 80px;
  line-height: 1.18;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
@media (max-width: 600px) {
  h1 {
    font-size: 50px;
    white-space: normal;
  }
}
@media (max-width: 460px) {
  h1 {
    font-size: 36px;
  }
}

/* 页面背景 */
.page-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.page-fg {
  position: relative;
  z-index: 1;
}

/* 淡入动画 */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-o-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* 头部区域 */
.intro {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 50;
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  margin: 0;
}
.description {
  position: absolute;
  top: 50%;
  left: 25px;
  opacity: 0.2;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-90deg) translate(-50%, 10px);
  -moz-transform: rotate(-90deg) translate(-50%, 10px);
  -ms-transform: rotate(-90deg) translate(-50%, 10px);
  -o-transform: rotate(-90deg) translate(-50%, 10px);
  transform: rotate(-90deg) translate(-50%, 10px);
  z-index: 50;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (-moz-touch-enabled: 0), (pointer: fine) {
  .description {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .description:hover {
    opacity: 0.4;
  }
}
.and {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 50;
  text-align: right;
}
.and__label {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  margin: 0;
}
.and__stripe {
  width: 50px;
  height: 3px;
  background-color: #fff;
  background-color: currentColor;
  display: inline-block;
  margin: 3px 0;
}
.and__weibo {
  font-size: 0.55em;
}
@media (max-width: 600px) {
  .intro {
    top: 10px;
    left: 10px;
  }
  .description {
    opacity: 0;
    left: 0;
  }
  .and {
    top: 10px;
    right: 10px;
  }
  .title,
  .and__label {
    font-size: 25px;
  }
}

/* 首页作品列表 */
.and-list {
  list-style: none;
  font-size: 0;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 0 40px;
}
.and-list > li {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}
@media (max-width: 940px) {
  .and-list > li {
    padding: 2px;
  }
  .and-list {
    padding: 5px;
  }
}
@media (max-width: 380px) {
  .and-list > li {
    width: 50%;
  }
}
.and-list__link {
  display: block;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.and-list__link:active {
  opacity: 0.8;
}
.and-list__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-weight: bold;
  opacity: 0;
  padding: 10px 0;
}
.and-list__image {
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}
.and-list__image--loaded {
  opacity: 1;
}
.and-list__image:after {
  content: "";
  display: block;
  padding-bottom: 56.2%;
}
@media (max-width: 940px) {
  .and-list__image:after {
    padding-bottom: 100%;
  }
}
@media screen and (min-width: 940px) and (-moz-touch-enabled: 0),
  screen and (min-width: 940px) and (pointer: fine) {
  .and-list__link {
    -webkit-transition: -webkit-transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01);
    transition: -webkit-transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01);
    -o-transition: -o-transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01);
    -moz-transition: transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01), -moz-transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01);
    transition: transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01);
    transition: transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01), -webkit-transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01), -moz-transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01), -o-transform 0.36s cubic-bezier(0.46, 0.01, 0.05, 1.01);
  }
  .and-list__title {
    -webkit-transition: opacity 0.28s 0.08s, -webkit-transform 0.28s 0.08s;
    transition: opacity 0.28s 0.08s, -webkit-transform 0.28s 0.08s;
    -o-transition: opacity 0.28s 0.08s, -o-transform 0.28s 0.08s;
    -moz-transition: opacity 0.28s 0.08s, transform 0.28s 0.08s, -moz-transform 0.28s 0.08s;
    transition: opacity 0.28s 0.08s, transform 0.28s 0.08s;
    transition: opacity 0.28s 0.08s, transform 0.28s 0.08s, -webkit-transform 0.28s 0.08s, -moz-transform 0.28s 0.08s, -o-transform 0.28s 0.08s;
  }
  .and-list__link:hover {
    -webkit-transform: translate3d(0, -14px, 0);
    -moz-transform: translate3d(0, -14px, 0);
    transform: translate3d(0, -14px, 0);
  }
  .and-list__link:hover .and-list__title {
    opacity: 1;
    -webkit-transform: translate3d(0, 34px, 0);
    -moz-transform: translate3d(0, 34px, 0);
    transform: translate3d(0, 34px, 0);
    color: #fff;
  }
}

/* FAQ模块 */
.faqs {
  max-width: 700px;
  margin: 0 auto;
}
.faq {
  position: relative;
  margin-bottom: 60px;
}
.question {
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  padding-right: 40px;
  margin: 0;
}
.answer {
  padding-left: 180px;
  line-height: 1.6;
}
@media (max-width: 940px) {
  .faqs {
    max-width: none;
    margin: 0;
    padding: 0 40px;
  }
  .faq {
    margin-bottom: 100px;
  }
  .question {
    position: static;
    width: auto;
    padding-right: 0;
  }
  .answer {
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  .faqs {
    padding: 0 20px;
  }
  .faq {
    margin-bottom: 80px;
  }
}
@media (max-width: 460px) {
  .faqs {
    padding: 0 10px;
  }
}
.answer a {
  color: #2cefcb;
  text-decoration: underline;
}

/* 滚动淡入 */
.scroll-fade {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
.scroll-fade--active {
  opacity: 1;
}

/* @ 符号邮箱使用）*/
.at:before {
  content: "@";
}

/* andid内容区 */
.andid__text {
  opacity: 0;
  -webkit-animation: fadeIn 1s 0.4s forwards;
  -moz-animation: fadeIn 1s 0.4s forwards;
  -o-animation: fadeIn 1s 0.4s forwards;
  animation: fadeIn 1s 0.4s forwards;
}
.andid__title {
  max-width: 400px;
  margin-bottom: 40px;
}

/* frontpage页面 */
.frontpage,
.frontpage > body {
  overflow-y: auto;
  height: auto;
}
.frontpage .andid__content {
  max-width: 650px;
  margin: 280px auto 100px;
  text-align: center;
  line-height: 1.4;
}
@media (max-width: 940px) {
  .frontpage .andid__content {
    margin: 240px 0 80px;
    padding: 0 40px;
    text-align: left;
  }
}
@media (max-width: 600px) {
  .frontpage .andid__content {
    margin: 180px 0 50px;
    padding: 0 20px;
    text-align: left;
  }
}
@media (max-width: 460px) {
  .frontpage .andid__content {
    padding: 0 10px;
  }
}
.frontpage .andid__title {
  margin: 0 auto;
  font-size: 36px;
  max-width: none;
  line-height: 1.1;
}
.frontpage .andid__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 26px auto 24px;
}
@media (max-width: 940px) {
  .frontpage .andid__title:after {
    margin: 26px 0;
  }
}
@media (max-width: 460px) {
  .frontpage .andid__title:after {
    margin: 20px 0;
    width: 40px;
  }
}
@media (max-width: 600px) {
  .frontpage .andid__title {
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .frontpage .andid__title {
    font-size: 26px;
    margin: 0 auto 20px;
  }
}
.frontpage .andid__text {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.frontpage .description {
  display: none;
}